<!doctype html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="" rel="stylesheet" />
		<style>
		</style>
	</head>
	<body>
		
		<div class="vue-instance" data-endpoint="people">
			<button v-on:click="getData">People</button>
			<p v-show="isLoading">{{loadingMessage}}</p>
			<p v-show="hasError">{{errorMessage}}</p>
			<div v-if="apiData.people">
				<p v-if="currentSortKey">Current sort: <strong>{{currentSortKey}}</strong></p>
				<label for="sort-people">Sort</label>
				<select id="sort-people" v-on:change="sort">
					<option value="null">Choose</option>
					<option v-for="item in sortOptions" :value="item.value">{{item.string}}</th>
				</select>
				<table>
					<tr>
						<th v-for="item in displayData" :id="item.value">{{item.string}}</th>
					</tr>
					<tr v-for="(person, index) in apiData.people.results">
						<td v-for="item in displayData" :headers="item.value">{{person[item.value]}}</td>
					</tr>
				</table>
				<button v-if="hasPrevious" v-on:click="pagination($event, 'previous')">Previous page</button>
				<button v-if="hasNext" v-on:click="pagination($event, 'next')">Next page</button>
			</div>
		</div>
		
		<hr/>
		
		<div class="vue-instance" data-endpoint="films">
			<button v-on:click="getData">Films</button>
			<p v-show="isLoading">{{loadingMessage}}</p>
			<p v-show="hasError">{{errorMessage}}</p>
			<div v-if="apiData.films">
				<p v-if="currentSortKey">Current sort: <strong>{{currentSortKey}}</strong></p>
				<label for="sort-films">Sort</label>
				<select id="sort-films" v-on:change="sort">
					<option value="null">Choose</option>
					<option v-for="item in sortOptions" :value="item.value">{{item.string}}</th>
				</select>
				<table>
					<tr>
						<th v-for="item in displayData" :id="item.value">{{item.string}}</th>
					</tr>
					<tr v-for="(film, index) in apiData.films.results">
						<td v-for="item in displayData" :headers="item.value">{{film[item.value]}}</td>
					</tr>
				</table>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
