<!doctype html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="" rel="stylesheet" />
		<style>
		</style>
	</head>
	<body>
		
		<div class="vue-instance" data-endpoint="people">
			<button v-on:click="getData">People</button>
			<p v-show="isLoading">{{loadingMessage}}</p>
			<p v-show="hasError">{{errorMessage}}</p>
			<div v-if="apiData.people">
				<p v-if="currentSortKey">Current sort: <strong>{{currentSortKey}}</strong></p>
				<label for="sort-people">Sort</label>
				<select id="sort-people" v-on:change="sort">
					<option value="null">Choose</option>
					<option value="name">Name</option>
					<option data-sort-direction="descending" value="height">Height</option>
					<option data-sort-direction="descending" value="mass">Mass</option>
				</select>
				<table>
					<tr>
						<th id="name">Name</th>
						<th id="height">Height</th>
						<th id="mass">Mass</th>
					</tr>
					<tr v-for="(person, index) in apiData.people.results">
						<td headers="name">{{ person.name }}</td>
						<td headers="height">{{ person.height }}</td>
						<td headers="mass">{{ person.mass }}</td>
					</tr>
				</table>
				<button v-if="hasPrevious" v-on:click="pagination($event, 'previous')">Previous page</button>
				<button v-if="hasNext" v-on:click="pagination($event, 'next')">Next page</button>
			</div>
		</div>
		
		<div class="vue-instance" data-endpoint="films">
			<button v-on:click="getData">Films</button>
			<p v-show="isLoading">{{loadingMessage}}</p>
			<p v-show="hasError">{{errorMessage}}</p>
			<div v-if="apiData.films">
				<ul>
					<li v-for="(film, index) in apiData.films.results">{{film.title}}</li>
				</ul>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
